NODE_ENV=환경 // 'development', 'production', 'test'
PORT=포트
DATABASE_URL="postgresql://사용자이름:@localhost:5432/music_journal"
FRONT_URL="프론트엔드 주소"
BETTER_AUTH_SECRET="32자 이상 랜덤 문자열"
BETTER_AUTH_URL="http://localhost:3000"
